<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bd_santiagoEntities" connectionString="metadata=res://*/ModelBD.csdl|res://*/ModelBD.ssdl|res://*/ModelBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;database=santiago&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>