<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
   <!-- <add name="bd_santiagoEntities" connectionString="metadata=res://*/ModelBD.csdl|res://*/ModelBD.ssdl|res://*/ModelBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;database=santiago&quot;" providerName="System.Data.EntityClient" />-->
    <add name="bd_santiagoEntities" connectionString="metadata=res://*/ModelBD.csdl|res://*/ModelBD.ssdl|res://*/ModelBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Admin;database=bd_santiago&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>
</configuration>